In [1]:
# Data Science Jupyter Notebook

In [2]:
# Intro
## Welcome to my first ever Jupiter Notebook, this notebook entails my knowledge so far in data science

In [3]:
# Objectives
## In this notebook, we aim to:
###1. Learn the basics of data science.
###2. Investigate arithmetic expressions in data science.
###3. Give examples of data science tools and libraries.

In [4]:
# Data Science Language List
##1. Learn the basics of data science
##2. Investigatethe arithmetic expressions in data science.
##3. Give examples of data science tools and libraries.

In [27]:
## Data Science Language list
##1. Python
##2. R
##3. SQL
##4. Java
##5. Scala
##6. Julia
##7. SAS
##8. MATLAB
##9. C
##10. JavaScript
##11. Pearl

In [19]:
import pandas as pd
# Data Science Tools list
data = {
    'Tool  |': ['Python |', 'R |', 'SQL |', 'Jupyter Notebook |', 'TensorFlow |', 'Tableau |'],
    'Description |': [
        'Versatile programming language for data tasks.',
        'Language for statistical analysis and visualization.',
        'Language for managing and querying databases.',
        'Interactive platform for data analysis and documentation.',
        'Open-source framework for machine learning.',
        'Tool for creating interactive data dashboards.'
    ]
}

df = pd.DataFrame(data)
print(df)

              Tool  |                                      Description |
0            Python |     Versatile programming language for data tasks.
1                 R |  Language for statistical analysis and visualiz...
2               SQL |      Language for managing and querying databases.
3  Jupyter Notebook |  Interactive platform for data analysis and doc...
4        TensorFlow |        Open-source framework for machine learning.
5           Tableau |     Tool for creating interactive data dashboards.

In [21]:
# Examples of Arithmetic Expression
## Here entails some of the basic arithmetic expressions in Python.

result = 4 * 5 + 6
result

26

In [22]:
# Minutes to hours conversion
minutes = 240
hours = minutes/60
hours

4.0

In [25]:
# Author
## Alec Garcia